<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle"> Specification
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="downloads.html">Specs</a>
      </li>
    </ul>
  </li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle"> Autres ressources
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="downloads.html">Téléchargements et usages </a>
      </li>
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec </a>
      </li>
      <li>
        <a target="_blank" href="https://esante.gouv.fr/">Site web de l'ANS </a>
      </li>
    </ul>
  </li>
</ul>      
